<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verified</title>
    <link rel="Shortcut Icon" type="image/jpg" href="/public/Images/music-1.jpg">

</head>
<body>
    <h1 style="color: green ;">Your Email Verified</h1>
</body>
</html>